<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>949794955319-375aed48hno16oocpcbaqjpehrg7b906.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949794955319-375aed48hno16oocpcbaqjpehrg7b906</string>
	<key>API_KEY</key>
	<string>AIzaSyBDPmkye6TCKKQTRiawvzbDrFOC_zT1TxE</string>
	<key>GCM_SENDER_ID</key>
	<string>949794955319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.XWomen.regexmon</string>
	<key>PROJECT_ID</key>
	<string>regexomon</string>
	<key>STORAGE_BUCKET</key>
	<string>regexomon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949794955319:ios:1d1b37af2510aa1b</string>
	<key>DATABASE_URL</key>
	<string>https://regexomon.firebaseio.com</string>
</dict>
</plist>